body{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

.navigation{
    
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.logo-bmw{
    position: absolute;
    left: 5%;
    padding-top: 12px;
}

img{
    width: 50%;
}

.nav-bord{
    top: 2px;
    position: absolute;
    height: 80px;
    width: 60%;
    margin-left: 30%;
    padding-top: 22px;
    overflow: hidden;
}

.nav-bord ul{
    margin: 0;
    padding: 0;
}

.nav-bord ul li{
    display: inline-block;
    width: 10%;
    height: 30px;
    text-align: center;
    margin-left: 5%;
    margin-top: 10px;
    padding-left: 2%;
}
.nav-bord ul li a{

    text-decoration: none;
    font-size: 20px;
    font-weight: 10;
    color: #000000;
}

 .nav-bord a{
    
    position: relative;
}

 .nav-bord  a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4px;
    background-color: #33a3f5;
    transition: 0.4s;
    transform: scaleX(0);
    
}

.nav-bord  a:hover:before{
    width: 100%;
    transform: scaleX(2);
}


.content-car{
    width: 90%;
    margin: auto;
    height: 2400px;

}


.company-car{
   background-image: url(site1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 500px;
    
}
.company-car-business{
    box-sizing: border-box;
    width: 40%;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 60%;
    padding-left: 80px;
}
.company-car-business h2 {
    font-size: 19px;
    font-weight: 200;
    margin-top: 80px;
    color: #5d5d5d;
}
.line-one{
    border: 2px solid  #5d5d5d;
    width: 80%;
    animation-duration: 1s;
    animation-delay: 1s;
}
.company-car-business h1{
padding-right: 29px;
    font-size: 24px;
     color: #5d5d5d;
    animation-delay: 0.5s;
    font-weight: 200;
    
}
.word2{
    animation-delay: 1s;
}
.company-car-business p{
    padding-top: 11px;
    line-height: 50px;
    padding-right: 16px;
    color: #5d5d5d;
    animation-delay: 1.6s;
}

.benefits-car{
    box-sizing: border-box;
    
}
.vert-line{
    height: 60px;
    width: 3px;
    background-color: black;
    margin-top: 90px;
    margin-left: 50%;
    margin-bottom: 40px;
}

.benefits{
    margin-left: 28%;
    height: 15rem;
    width: 50%;
}

.benefits h1{
    display: block;
    font-size: 1.5em;
    text-align: center;
    font-weight: 20;
    

}
.benefits p{
    display: block;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    padding: 5px; 
    text-align: justify;
}

.main-description{
      width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.main-aford-left{
    padding-top: 150px;
    width: 40%;
    margin-bottom:40px;
}

.main-aford-left h5{
     font-weight: 10;
    margin-bottom: 2px;
    letter-spacing: 1px;
    font-size: 12px;
}
.main-aford-left h1{
    font-size: 22px;
    font-weight: 10;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main-aford-left p{
    line-height: 1.75rem;
    letter-spacing: 1px;
     text-align: justify;
}

.main-aford-right-img{
    height: 700px;
    width: 49%;
    background: url(wheel.jpg) no-repeat;
    background-size: cover;
    margin-left: 98px;
    margin-bottom: 75px;
}

.tax-left-img{
    height: 700px;
    width: 49%;
    background: url(wheel1.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 75px;
    
}
.tax-right{
    padding-top: 180px;
    width: 40%;
    margin-left: 0px;
    padding-left: 58px;
    
}

.tax-right h5{
    font-weight: 10;
    margin-bottom: 2px;
    letter-spacing: 1px;
    font-size: 12px;
}

.tax-right h1{
    font-size: 22px;
    font-weight: 10;
    padding: 15px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.tax-right p{
    line-height: 1.75rem;
    letter-spacing: 1px;
    text-align: justify;
}

.align{
    transition: 2s;
}


.hybrid-left{
    padding-top: 150px;
    width: 40%;
    margin-bottom:40px;
}

.hybrid-left h5{
     font-weight: 10;
    margin-bottom: 2px;
    letter-spacing: 1px;
    font-size: 12px;
}
.hybrid-left h1{
    font-size: 22px;
    font-weight: 10;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hybrid-left p{
    line-height: 1.75rem;
    letter-spacing: 1px;
     text-align: justify;
}

.hybrid-right-img{
    height: 700px;
    width: 49%;
    background: url(BMW7-2.jpeg) no-repeat -250px;
    background-size: cover;
    margin-left: 98px;
    margin-bottom: 75px;
}



#animaate{
    animation-delay: s;
    animation-duration: 1s;
}